body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  
  background-image: url(jason-leung-nM2WEy42Npg-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  text-align : center;
  color: white;
}
h1{
  background-color: orange;
  margin: 0;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
}
.score-board {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
 
}
.home-board{
  
 margin-right: 100px; 

 padding: 20px;
 border-radius: 20px;
 background-color: rgb(127, 255, 185);
 color: black;
}
.guest-board{
 margin-left: 100px; 

 padding: 20px;
 border-radius: 20px;
 background-color: rgb(127, 255, 185);
 color: black;
}
h2{
  font-size: 40px;
  margin: 10px 0;
}
#home-score, #guest-score{
  font-size: 25px;
  background-color: rgb(127, 255, 185);
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-decoration: underline;
  color: red;
  margin: 20px 0;
}

.home-board button,
.guest-board button{
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: orange;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.home-board button:hover,
.guest-board button:hover{
  background-color: darkorange;
  box-shadow: 3px 3px 5px rgba(255, 166, 0, 0.794)
}
#reset-btn{
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
  padding: 15px 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 15px;
}
#reset-btn:hover{
  background-color: darkred;
}
#end-btn{
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
  padding: 15px 30px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 15px;
}
#end-btn:hover{
  background-color: darkgreen;
}