body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(23, 91, 23);
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
h1{
  color: goldenrod;
  margin-bottom: 15px;
  text-align: center;

font-weight: bold;
}
p{
  color: white;
  font-size: 18px;
  font-weight: bold;

}
button{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px 20px;
  border-radius: 15px;
  cursor: pointer;
}
#reset-game{
  background-color: red;
  color: white;
  font-weight: bold;
}