body {
  background-image: url(hans-peter-gauster-3y1zF4hIPCg-unsplash.jpg);

  background-size: cover;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  text-align: center;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container {
  background-color: white;
  max-width: 80%;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
}
h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}
#increment-btn {
  background-color: darkblue;
}
#save-btn {
  background-color: darkgreen;
}
button {
  border: 2px solid black;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  width: 180px;
  margin-bottom: 6px;
  border-radius: 6px;
}
