body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(25, 35, 141);
  color: white;
  width: 70%;
  margin: auto;
}
h1 {
  margin: 30px;
  font-size: 2rem;
  font-weight: bold;
}
#btn,#bt {
  padding: 10px;
  margin: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(21, 172, 21);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#bt {
  background-color: rgb(172, 21, 21);
}

#btn:hover {
  background-color: rgb(197, 17, 125);
  color: white;
}
#password-1,
#password-2 {
  border: 2px solid white;
  padding: 20px;

  font-size: 1.5rem;
  width: 300px;
  margin:10px auto;
}
